<!DOCTYPE html>
<html lang="en" ng-app="colorloverApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
	<title>Colorlovers</title>
		<!-- bootstrap css -->
	  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <!-- custom styles -->
	  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="MainCtrl">
	<div class="container-fluid">	
		<div class="row">
			<div class="col-md-12">
				<div ng-view></div>
			</div><!-- close col-12-->
		</div> <!-- close row-->
	</div> <!-- close container-->
	<!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <!-- ngResource -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
  <!-- custom script (angular app) -->
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
