<!-- homepage template -->

<!-- filter form -->
<div class="text-left">
	<h3>Filter:</h3>
	<form class = "form-inlind " ng-submit="filter()">
		    <label ng-repeat="hue in hues">
		    	&nbsp&nbsp<input type="checkbox" ng-model="hue.selected" ng-true-value="true" ng-false-value="false">{{(hue.name)}}&nbsp&nbsp
		    </label><br><br>
	    <input type="submit" value="submit" class="btn btn-primary"><br>
	</form>

</div>
<!-- new section -->
<h1 id="newTitle">Newest palettes&nbsp&nbsp({{dataNew.length}})</h1><br><br>
<div class="row" ng-if="dataNew.length>0">
	<div class="col-md-3 col-sm-4" ng-repeat="palette in dataNew">
		<div class="thumbnail text-left">
			<palette-info></palette-info>		
			<div class="paletteDiv">
				<div class="colorDiv" style="width: {{palette.colorWidths[$index]}}%; background-color: #{{color}}" ng-repeat="color in palette.colors track by $index">
				</div>
			</div>
			<views-and-likes></views-and-likes>
			<p></p>
		</div>
	</div>
</div><br><br>


<!-- top section -->
<h1 id="topTitle">Top palettes&nbsp&nbsp({{dataTop.length}})</h1><br><br>
<div class="row" ng-if="dataTop.length>0" id="topDiv">
	<div class="col-md-3 col-sm-4" ng-repeat="palette in dataTop">
		<div class="thumbnail text-left">
			<palette-info></palette-info>	
			<div class="paletteDiv">
				<div class="colorDiv" style="width: {{palette.colorWidths[$index]}}%; background-color: #{{color}}" ng-repeat="color in palette.colors track by $index">
				</div>
			</div>
			<views-and-likes></views-and-likes>
			<p></p>
		</div>
	</div>
</div>


